// Scoped styles
@use '/Users/matteodidone/VS Code Projects/vite-comics/vite-comics/src/styles/partials/_mixins.scss' as *; 
@use '/Users/matteodidone/VS Code Projects/vite-comics/vite-comics/src/styles/partials/_variables.scss' as *;

// Importing the fonts
@import url(//db.onlinewebfonts.com/c/d602bf6498a65d9595ca30c04eadda32?family=TanseekModernProArabic-Book);

// Resetting of the browser default styles
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'TanseekModernProArabic-Book';
}

@font-face {
    font-family: "TanseekModernProArabic-Book";
    src: url("//db.onlinewebfonts.com/t/d602bf6498a65d9595ca30c04eadda32.eot");
    src: url("//db.onlinewebfonts.com/t/d602bf6498a65d9595ca30c04eadda32.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/d602bf6498a65d9595ca30c04eadda32.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/d602bf6498a65d9595ca30c04eadda32.woff") format("woff"), url("//db.onlinewebfonts.com/t/d602bf6498a65d9595ca30c04eadda32.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/d602bf6498a65d9595ca30c04eadda32.svg#TanseekModernProArabic-Book") format("svg");
}

.flex{
    display: flex;
}

.m-auto{
    margin: auto;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: black;
}

.dc-blue
{
    color: $dc-blue;
}